@media all and (min-width: 1501px){
  .container{
    width: 1500px;
  }
}

/* UTILITY */

/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body{
  font-family: 'Inter', sans-serif;
}

section{
    padding: 80px 0;
}

#bg-jumbo{
  background-image: url("../img/bg-sea.svg");
  background-size: cover;
  background-position: center center;
  backface-visibility: hidden;
  transform: translateZ(0px);
}

#title-jumbo{
  color: #fff;
  font-weight: 600;
  font-size: 70px;
  padding-top: 125px;
  line-height: 80px;
}

#p-jumbo{
  color: #BBCDFF;
  font-size: 23px;
}

#h2-titles{
  text-align: center;
  padding-top: 25px;
  padding: 0 30px;
  font-weight: 600;
}


#h2-blue{
  color: #006AFF;
  text-align: center;
  font-weight: 600;
}

#p-signin{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

#h4-logos{
  color: #6F7B97;
  padding-top: 50px;
}

#bg-grey{
  background-color: #F3F5F9;
}

#a-logos{
  font-size: 16px;
  color: #006AFF;
  font-weight: 600;
  padding-top: 50px;
}

#p-main{
  color: #6F7B97;
  font-size: 23px;
  padding-bottom: 50px;
}

#img{
  max-width: 100%;
}

#bg-blue{
  background-color: lightgreen;
}

#white{
  color: #fff;
  text-align: center;
  padding-top: 25px;
  padding: 0 30px;
  font-weight: 600;
}


/* NAV */
.navbar{
  padding: 10px 0;
}

.btn.btn-default.navbar-btn{
  color: #006AFF;
  border-color: #006AFF;
}

#logo{
  width: 172px;
  line-height: 500px;
}

#padding-toggle{
  padding-left: 150px;
}

.navbar-default .navbar-nav>li>a{
  color: #021D4E;
  font-weight: 500;
}

/* JUMBO */

.signin-box{
  float: right;
  margin: 120px 0;
  background-color: #fff;
  border-radius: 5px;
}

.btn.btn-default.my_style-one{
  background-color: #579AFF;
  color: #fff;
  font-weight: 600;
  width: 100%;
  margin-bottom: 10px;
  border: none;
}

.padding-form{
  padding: 0 20px;
}


.btn.btn-default.my_style-two{
  background-color: #fff;
  color: #616262;
  font-weight: 600;
  width: 100%;
  border: none;
  padding-right: 30px;
  box-shadow: 3px 3px 4px -1px rgba(0, 0, 0, 0.20);
}

#g-logo{
  height: 20px;
  float: left;
}

/* LOGHI */
.ul-li-logos{
  width: 100%;
  height: 200px;
}

/* MAIN */

.ul-li-main{
  list-style-type: none;
  padding-inline-start: 10px;
  border-left: 1px solid #74809A;
  line-height: 45px;
  font-size: 16px;
  font-weight: 600;
}


/* SELETTORI */

.fa-angle-left{
  font-size: 50px;
}

.fa-angle-right{
  font-size: 50px;
}

.selector{
  margin: 0 5px;
  padding: 1px 9px;
  border: 2px solid #006AFF;
  border-radius: 50%;
}


.selector.blue{
  background-color: #006AFF;
}

.selectors{
  margin-top: 50px;
}

/* <!-- The features your business needs  --> */

.grids{
  margin-top: 125px;
}

/* REGIONS */

.border-bottom{
  display: inline-block;
  border-bottom: 1px solid black;
}

/* MEDIA QUERY SMARTPHONES */

@media all and (max-width: 425px){
  .navbar-toggle.collapsed{
    border: none;
  }

  .navbar-default .navbar-toggle .icon-bar{
    width: 20px;
    height: 3px;
    color: #021D4E;
    background-color: #006AFF;
  }

  #exampleInputEmail1, #exampleInputPassword1, .my_style-one, .my_style-two{
  height: 50px;
  }

  .signin-box{
    float: right;
    margin-top: 0;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 50px;
  }

  #title-jumbo{
  color: #fff;
  font-weight: 600;
  font-size: 55px;
  padding-top: 125px;
  line-height: 55px;
  }

  #h4-logos{
    font-size: 15px;
  }

  .ul-li-logos{
    width: 125px;
    height: 125px;
  }

  #img{
    max-width: 100%;
  }

  .fa-angle-left{
    font-size: 0;
  }

  .fa-angle-right{
    font-size: 0;
  }
}

/* MEDIA QUERY TABLET */

@media all and (min-width: 426px) and (max-width: 991px){
    .navbar-header {
    width: 103%;
  }

    .navbar-toggle {
    display: block;
  }

    .navbar-nav, .navbar-right {
    display: none;
  }

    .navbar-toggle.collapsed{
    border: none;
  }

    .navbar-default .navbar-toggle .icon-bar{
    width: 20px;
    height: 3px;
    color: #021D4E;
    background-color: #006AFF;
  }

    #title-jumbo{
    color: #fff;
    font-weight: 600;
    font-size: 55px;
    padding-top: 125px;
    line-height: 55px;
  }

    #p-jumbo{
    color: #BBCDFF;
    font-size: 21px;
    line-height: 30px;
  }

    #exampleInputEmail1, #exampleInputPassword1, .my_style-one, .my_style-two{
    height: 50px;
  }

    .form-control{
    font-size: 20px;
  }

    .signin-box{
    float: right;
    margin-top: 120px;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 80px;
  }

  .ul-li-logos{
    width: 125%;
    height: 100px;
  }

  #img{
    max-width: 90%;
  }
}
